src/main/mule/jenkins-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b7f415b-cec8-4b61-8877-c4abfbf0928d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-demo-apiFlow" doc:id="acb5cdaf-343b-417e-99ab-7d7bd9dfe388" >
		<http:listener doc:name="Listener" doc:id="52daf3da-d76d-4493-baf8-14ca1039fc92" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#["this is my jenkins demo"]' doc:name="Set Payload" doc:id="e2cfef6b-ce40-4b08-b7a1-d7120bf099ae" />
		<ee:transform doc:name="Transform Message" doc:id="11249b96-4585-47b5-a8ba-cd00010e3240" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
